* {box-sizing: border-box;}
.container {
  margin: 2% auto;
  width: 70%;
}

.header h1 {
  text-align: center;
  text-transform: uppercase;
}


.Column {
  display: inline-block;
}

.Column {
  float: left;
}

.main-text {
  padding-top: 60px;
  clear: both;
}

.Column {
  width: 33.3333333%;
}

#skill-list {
  margin-left: 50px
}

.intro h2 {
  text-align: center;
  text-transform: uppercase;
}

.image img{
  padding: 5%;
  width: 100%;
}

.skill h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
/*typography*/

h1,
h2,
h3 {
  font-family: futura, helvetica, arial, sans-serif;
}
.header h1 {
  font-weight:900;
  font-size: 2em;
}
.skill h3 {
  font-weight:900;
  font-size: 1.5em;

}

.intro h2 {
  font-weight:900;
  font-size: 1.5em;

}

.intro p {font-family: futura, helvetica, arial, sans-serif;
font-size: 2em;
font-weight:100;
-webkit-margin-before: 0;
}

#skill-list {
  font-family: futura, helvetica, arial, sans-serif;
  font-size: 2em;
  font-weight:100;
}
.main-text {
  font-family: futura, helvetica, arial, sans-serif;
  font-size: 2em;
  font-weight:100;
}

/* color scheme */

body {
  background-color:#fffeea;
  text-decoration-color: #34495E;

}

.skill {
  background-color: #5AD4C2;
  color: #fff;

  }
